Repository Krashly/Ark-Station-13, pull requests merged in 2023-11, with the labels that each got.

#16 Обновление Дельты
  _maps/ark_map_files/sla2her_maps/DeltaStation2.dmm
  _maps/ark_map_files/sla2her_maps/KiloStation2.dmm
  _maps/ark_map_files/sla2her_maps/NSSJourney.dmm
Labels: Map Modification

#23 InteQ + Toys + Clothes + Mobs
  _maps/map_files/generic/CentCom_modified.dmm
  code/game/objects/items/toys.dm
  modular_arkstation/krashly_modulars/code/game/area/centcom.dm
  modular_arkstation/krashly_modulars/code/game/objects/items/item.dm
  modular_arkstation/krashly_modulars/code/game/objects/structures/closets.dm
  modular_arkstation/krashly_modulars/code/game/objects/structures/vending.dm
  modular_arkstation/krashly_modulars/code/modules/clothing/under.dm
  modular_arkstation/krashly_modulars/code/modules/mecha/mecha_inteq.dm
  modular_arkstation/krashly_modulars/code/modules/outfits.dm
  modular_arkstation/krashly_modulars/icons/toys.dmi
  modular_arkstation/krashly_modulars/sound/plush/ooh.ogg
  modular_arkstation/krashly_modulars/sound/plush/plush_1.ogg
  modular_arkstation/krashly_modulars/sound/plush/plush_2.ogg
  modular_arkstation/krashly_modulars/sound/plush/voice_alphys.ogg
  modular_arkstation/modules/maps-redefine-links/code.dm
  tgstation.dme
Labels: Sprites, Map Modification

#24 Слоты. База для разработки.
  modular_arkstation/modules/new-slots/hud/screen_clockwork.dmi
  modular_arkstation/modules/new-slots/hud/screen_liteweb.dmi
  modular_arkstation/modules/new-slots/hud/screen_midnight.dmi
  modular_arkstation/modules/new-slots/hud/screen_operative.dmi
  modular_arkstation/modules/new-slots/hud/screen_plasmafire.dmi
  modular_arkstation/modules/new-slots/hud/screen_retro.dmi
  modular_arkstation/modules/new-slots/hud/screen_slimecore.dmi
  modular_arkstation/modules/new-slots/underwear.dmi
  modular_arkstation/modules/new-slots/underwear/_DEFINES.dm
  modular_arkstation/modules/new-slots/underwear/_underwear.dm
  modular_arkstation/modules/new-slots/underwear/boxers.dm
  modular_arkstation/modules/new-slots/underwear/shirts.dm
  modular_arkstation/modules/new-slots/underwear/socks.dm
  modular_arkstation/modules/new-slots/underwear_digi.dmi
  modular_arkstation/modules/new-slots/wrist_obj.dmi
  modular_arkstation/modules/new-slots/wrists.dmi
  modular_arkstation/modules/new-slots/wrists/_wrists.dm
  modular_arkstation/modules/new-slots/wrists/watches.dm
  tgstation.dme
Labels: Sprites

#26 Huge maps update
  _maps/ark_map_files/sla2her_maps/DeltaStation2.dmm
  _maps/ark_map_files/sla2her_maps/IceBoxStation.dmm
  _maps/ark_map_files/sla2her_maps/KiloStation2.dmm
  _maps/ark_map_files/sla2her_maps/MetaStation.dmm
  _maps/ark_map_files/sla2her_maps/TEMPLATE_MAP_DO_NOT_USE.dmm
  _maps/ark_map_files/sla2her_maps/tramstation.dmm
  _maps/skyrat/automapper/templates/deltastation/deltastation_ntrep_office.dmm
Labels: Map Modification

#32 fix delta
  _maps/ark_map_files/sla2her_maps/DeltaStation2.dmm
Labels: Map Modification

#35 doxuya ponosa + inteq
  code/__DEFINES/radio.dm
  code/game/data_huds.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/game/machinery/computer/communications.dm
  code/modules/vending/clothesmate.dm
  config/jobs.txt
  modular_skyrat/modules/Midroundtraitor/code/event.dm
  modular_skyrat/modules/aesthetics/storage/storage.dm
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/goofsec/code/sol_fed.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  tgstation.dme
  tgui/packages/tgui/constants.ts
  tgui/packages/tgui/interfaces/CommunicationsConsole.js
  zov_modular_arkstation/krashly_modulars/code/modules/clothing/armor.dm
  zov_modular_arkstation/krashly_modulars/code/modules/clothing/head.dm
  zov_modular_arkstation/krashly_modulars/code/modules/clothing/id.dm
  zov_modular_arkstation/krashly_modulars/code/modules/outfits.dm
  zov_modular_arkstation/modules/clothing-update/code/_loadout.dm
  zov_modular_arkstation/modules/clothing-update/code/_vendor.dm
  zov_modular_arkstation/modules/clothing-update/code/head.dm
  zov_modular_arkstation/modules/clothing-update/code/mask.dm
  zov_modular_arkstation/modules/clothing-update/code/shoes.dm
  zov_modular_arkstation/modules/clothing-update/code/suit.dm
  zov_modular_arkstation/modules/clothing-update/code/under.dm
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/acs.dmi
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/head.dmi
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/head_digi.dmi
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/mask.dmi
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/shoes.dmi
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/shoes_digi.dmi
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/suits.dmi
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/under.dmi
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/under_digi.dmi
  zov_modular_arkstation/modules/clothing-update/icons/obj/clothing/acs.dmi
  zov_modular_arkstation/modules/clothing-update/icons/obj/clothing/hands.dmi
  zov_modular_arkstation/modules/clothing-update/icons/obj/clothing/head.dmi
  zov_modular_arkstation/modules/clothing-update/icons/obj/clothing/mask.dmi
  zov_modular_arkstation/modules/clothing-update/icons/obj/clothing/shoes.dmi
  zov_modular_arkstation/modules/clothing-update/icons/obj/clothing/suits.dmi
  zov_modular_arkstation/modules/clothing-update/icons/obj/clothing/under.dmi
  zov_modular_arkstation/modules/clothing-update/readme.md
  zov_modular_arkstation/modules/faction-inteq/code/inteq-911-replacement.dm
  zov_modular_arkstation/modules/faction-inteq/code/inteq-additional-items.dm
  zov_modular_arkstation/modules/faction-inteq/code/inteq-outfits.dm
  zov_modular_arkstation/modules/faction-inteq/icons/ear_mob.dmi
  zov_modular_arkstation/modules/faction-inteq/icons/ear_obj.dmi
  zov_modular_arkstation/modules/faction-inteq/icons/key.dmi
  zov_modular_arkstation/modules/faction-inteq/readme.md
  zov_modular_arkstation/modules/faction-inteq/sound/inteq.ogg
  zov_modular_arkstation/modules/new-boxes-sprites/box.dmi
  zov_modular_arkstation/modules/new-roles/code/bridge_officer.dm
  zov_modular_arkstation/modules/new-roles/code/stowaway.dm
  zov_modular_arkstation/modules/sounds-renewal/code/generic_sounds.dm
  zov_modular_arkstation/modules/sounds-renewal/sound/weapons/shotgun_pump.ogg
Labels: Sprites

#36 Update DeltaStation2.dmm
  _maps/ark_map_files/sla2her_maps/DeltaStation2.dmm
Labels: Map Modification

#38 Simple vehicles resprite
  tgstation.dme
  zov_modular_arkstation/penis_modulars/code/vehicles.dm
  zov_modular_arkstation/penis_modulars/icons/vehicles.dmi
Labels: Sprites

#40 new clothes pt1
  code/modules/vending/wardrobes.dm
  config/word_filter.toml
  icons/obj/weapons/guns/projectiles.dmi
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_gloves.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_masks.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_pocket.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/loadouts/loadout_items/under/donator.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  tgstation.dme
  zov_modular_arkstation/modules/clothing-update/code/_loadout.dm
  zov_modular_arkstation/modules/clothing-update/code/_vendor.dm
  zov_modular_arkstation/modules/clothing-update/code/acs.dm
  zov_modular_arkstation/modules/clothing-update/code/head.dm
  zov_modular_arkstation/modules/clothing-update/code/mask.dm
  zov_modular_arkstation/modules/clothing-update/code/shoes.dm
  zov_modular_arkstation/modules/clothing-update/code/under.dm
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/mask.dmi
  zov_modular_arkstation/modules/clothing-update/icons/obj/clothing/mask.dmi
  zov_modular_arkstation/modules/clothing-update/icons/obj/clothing/under.dmi
Labels: Sprites

#44 dfgsdfg
  _maps/ark_map_files/sla2her_maps/DeltaStation2.dmm
  _maps/ark_map_files/sla2her_maps/KiloStation2.dmm
  _maps/ark_map_files/sla2her_maps/tramstation.dmm
Labels: Map Modification

#47 Новая одежда, моды, правки
  code/__DEFINES/mobs.dm
  code/_onclick/item_attack.dm
  code/game/objects/items/storage/garment.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/mod/mod_theme.dm
  code/modules/mod/mod_types.dm
  code/modules/vending/wardrobes.dm
  config/word_filter.toml
  modular_skyrat/master_files/code/modules/language/language_holder.dm
  modular_skyrat/master_files/icons/mob/mod.dmi
  modular_skyrat/modules/blueshield/code/closet.dm
  modular_skyrat/modules/customization/modules/clothing/neck/_neck.dm
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_skyrat/modules/title_screen/code/title_screen_html.dm
  tgstation.dme
  zov_modular_arkstation/modules/blooper/_defines.dm
  zov_modular_arkstation/modules/clothing-update/code/_loadout.dm
  zov_modular_arkstation/modules/clothing-update/code/_locker.dm
  zov_modular_arkstation/modules/clothing-update/code/_vendor.dm
  zov_modular_arkstation/modules/clothing-update/code/acs.dm
  zov_modular_arkstation/modules/clothing-update/code/head.dm
  zov_modular_arkstation/modules/clothing-update/code/mask.dm
  zov_modular_arkstation/modules/clothing-update/code/suit.dm
  zov_modular_arkstation/modules/clothing-update/code/under.dm
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/back.dmi
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/head.dmi
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/head_digi.dmi
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/mask.dmi
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/mask_digi.dmi
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/mod.dmi
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/suits.dmi
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/suits_digi.dmi
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/under.dmi
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/under_digi.dmi
  zov_modular_arkstation/modules/clothing-update/icons/obj/clothing/acs.dmi
  zov_modular_arkstation/modules/clothing-update/icons/obj/clothing/back.dmi
  zov_modular_arkstation/modules/clothing-update/icons/obj/clothing/head.dmi
  zov_modular_arkstation/modules/clothing-update/icons/obj/clothing/mask.dmi
  zov_modular_arkstation/modules/clothing-update/icons/obj/clothing/mod.dmi
  zov_modular_arkstation/modules/clothing-update/icons/obj/clothing/suits.dmi
  zov_modular_arkstation/modules/clothing-update/icons/obj/clothing/under.dmi
  zov_modular_arkstation/modules/faction-inteq/code/inteq-outfits.dm
  zov_modular_arkstation/modules/languages/code/languages.dm
  zov_modular_arkstation/modules/languages/icons/languages.dmi
  zov_modular_arkstation/modules/languages/readme.md
  zov_modular_arkstation/modules/markings/code/hair.dm
  zov_modular_arkstation/modules/markings/code/markings.dm
  zov_modular_arkstation/modules/markings/icons/hair.dmi
  zov_modular_arkstation/modules/markings/icons/snouts.dmi
  zov_modular_arkstation/modules/markings/readme.md
  zov_modular_arkstation/modules/nc-additions/code/nc_additions.dm
  zov_modular_arkstation/modules/nc-additions/readme.md
  zov_modular_arkstation/modules/security-medic-renewal/code/secmed.dm
  zov_modular_arkstation/modules/sounds-renewal/code/mod_sounds.dm
Labels: Sprites

#50 maps update
  _maps/ark_map_files/sla2her_maps/DeltaStation2.dmm
  _maps/skyrat/automapper/templates/deltastation/deltastation_ntrep_office.dmm
Labels: Map Modification

#53 maps-delta-update-please-kill-me-already
  _maps/ark_map_files/sla2her_maps/DeltaStation2.dmm
Labels: Map Modification

#57 в
  _maps/RandomRuins/SpaceRuins/garbagetruck1.dmm
  _maps/RandomRuins/SpaceRuins/garbagetruck2.dmm
  _maps/RandomRuins/SpaceRuins/garbagetruck3.dmm
  _maps/RandomRuins/SpaceRuins/garbagetruck4.dmm
  code/__DEFINES/atmospherics/atmos_mapping_helpers.dm
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/vote.dm
  code/datums/actions/mobs/personality_commune.dm
  code/datums/ai/movement/_ai_movement.dm
  code/datums/ai/movement/ai_movement_basic_avoidance.dm
  code/datums/ai/movement/ai_movement_complete_stop.dm
  code/datums/ai/movement/ai_movement_dumb.dm
  code/datums/brain_damage/split_personality.dm
  code/datums/mocking/client.dm
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/space.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/maintenance_loot.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/turfs/open/floor/plating/misc_plating.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/spells/spell_types/self/personality_commune.dm
  html/changelogs/AutoChangeLog-pr-24877.yml
  html/changelogs/AutoChangeLog-pr-24890.yml
  html/changelogs/AutoChangeLog-pr-24894.yml
  html/changelogs/AutoChangeLog-pr-24898.yml
  html/changelogs/AutoChangeLog-pr-24899.yml
  html/changelogs/AutoChangeLog-pr-24900.yml
  html/changelogs/AutoChangeLog-pr-24905.yml
  html/changelogs/AutoChangeLog-pr-24908.yml
  html/changelogs/AutoChangeLog-pr-24909.yml
  html/changelogs/AutoChangeLog-pr-24910.yml
  html/changelogs/AutoChangeLog-pr-24922.yml
  html/changelogs/AutoChangeLog-pr-24923.yml
  html/changelogs/AutoChangeLog-pr-24924.yml
  html/changelogs/AutoChangeLog-pr-24926.yml
  html/changelogs/archive/2023-11.yml
  icons/mob/clothing/belt.dmi
  icons/mob/inhands/weapons/hammers_lefthand.dmi
  icons/mob/inhands/weapons/hammers_righthand.dmi
  icons/obj/clothing/belt_overlays.dmi
  icons/obj/weapons/hammer.dmi
  tgstation.dme
Labels: Sprites, Map Modification

#63 fixes302
  code/modules/vending/wardrobes.dm
  modular_skyrat/modules/customization/modules/surgery/organs/eyes.dm
  zov_modular_arkstation/modules/clothing-update/code/_locker.dm
  zov_modular_arkstation/modules/clothing-update/code/_vendor.dm
  zov_modular_arkstation/modules/clothing-update/code/acs.dm
  zov_modular_arkstation/modules/clothing-update/code/suit.dm
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/suits.dmi
  zov_modular_arkstation/modules/clothing-update/icons/obj/clothing/suits.dmi
  zov_modular_arkstation/modules/sounds-renewal/code/emotes.dm
  zov_modular_arkstation/modules/sounds-renewal/sound/emotes/bonecrack.ogg
  zov_modular_arkstation/modules/sounds-renewal/sound/emotes/snap.ogg
  zov_modular_arkstation/modules/sounds-renewal/sound/emotes/yawn_female_1.ogg
  zov_modular_arkstation/modules/sounds-renewal/sound/emotes/yawn_female_2.ogg
  zov_modular_arkstation/modules/sounds-renewal/sound/emotes/yawn_female_3.ogg
  zov_modular_arkstation/modules/sounds-renewal/sound/emotes/yawn_male_1.ogg
  zov_modular_arkstation/modules/sounds-renewal/sound/emotes/yawn_male_2.ogg
Labels: Sprites

#64 Update tramstation.dmm
  _maps/ark_map_files/sla2her_maps/tramstation.dmm
Labels: Map Modification
